postgresql/
etc/odoo-server.log
etc/sessions/
etc/filestore/
postgre_dj_data/
myenv
*.pyc
backend/etc/filestore/
backend/etc/sessions/
backend/etc/odoo-server.log.1
backend/test_result/etl_raw_url.txt
backend/tests/api/test_register_production.py
