Django==3.2.16
asgiref==3.4.1
autopep8==1.6.0
dj-database-url==0.5.0
gunicorn==20.1.0
pycodestyle==2.8.0
pytz==2021.3
sqlparse==0.2.4
toml==0.10.2
whitenoise==5.3.0
django-environ==0.8.1
mongoengine==0.20.0
pylint-mongoengine==0.4.0
pymongo==3.11.0
psycopg2-binary==2.8.5
redis>=4
Faker
celery[redis]==5.3.5
# Django==3.1.3
djongo==1.3.6
pytz
django-channels-jwt-auth-middleware
channels
daphne
djangorestframework
pandas==1.5.3
numpy
redis-cli
requests==2.31.0
markdown==3.6
django-filter==23.5