{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card card-chart">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5 class="card-category">Total Shipments</h5>
                                <h2 class="card-title">Performance</h2>
                            </div>
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                        <input type="radio" name="options" checked>
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                                        <span class="d-block d-sm-none">
                        <i class="tim-icons icon-single-02"></i>
                    </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                                        <input type="radio" class="d-none d-sm-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                                        <span class="d-block d-sm-none">
                        <i class="tim-icons icon-gift-2"></i>
                    </span>
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                                        <input type="radio" class="d-none" name="options">
                                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                                        <span class="d-block d-sm-none">
                        <i class="tim-icons icon-tap-02"></i>
                    </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartBig1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category" id='worktime_company'>Total work time </h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 763,215</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLinePurple"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Daily Sales</h5>
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="CountryChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Completed Tasks</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="chartLineGreen"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="card card-tasks">
                        <div class="card-header ">
                            <h6 class="title d-inline">Chuyến đi(5)</h6>
                            <p class="card-category d-inline">Hôm nay</p>
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon"
                                        data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Action</a>
                                    <a class="dropdown-item" href="#pablo">Another action</a>
                                    <a class="dropdown-item" href="#pablo">Something else</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for trip in today_trips %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                <span class="check"></span>
                                </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="title">{{ trip.start_location }} - {{ trip.dest_location }}</p>
                                            <p class="text-muted">{{ trip.schedule_date }}</p>
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="" class="btn btn-link"
                                                    data-original-title="Edit Task">
                                                <i class="tim-icons icon-pencil"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-user">
                                <div class="card-body">
                                    <p class="card-text">
                                    <div class="author">
                                        <div class="block block-one"></div>
                                        <div class="block block-two"></div>
                                        <div class="block block-three"></div>
                                        <div class="block block-four"></div>
                                        <a href="javascript:void(0)">
                                        <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
                                        <h5 class="title">Mike Andrew</h5>
                                        </a>
                                        <p class="description">
                                        Ceo/Co-Founder
                                        </p>
                                    </div>
                                    </p>
                                    <div class="card-body">
                                        <div class="table-full-width table-responsive">
                                          <table class="table tablesorter " id="">
                                            <thead class=" text-primary">
                                              <tr>
                                                <th>
                                                  I/O
                                                </th>
                                                <th class="text-center">
                                                  Giờ
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>
                                                  In
                                                </td>
                                                <td class="text-center">
                                                  08:00:00
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    12:10:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    In
                                                  </td>
                                                  <td class="text-center">
                                                    12:20:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    In
                                                  </td>
                                                  <td class="text-center">
                                                    12:40:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    15:00:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    In
                                                  </td>
                                                  <td class="text-center">
                                                    18:00:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    18:00:00
                                                  </td>
                                              </tr>
                                            
                                            <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    18:00:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    18:00:00
                                                  </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                    Out
                                                  </td>
                                                  <td class="text-center">
                                                    18:00:00
                                                  </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                </div>
                                <div class="card-footer">
                                    <div class="button-container">
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                                        <i class="fab fa-facebook"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                        <i class="fab fa-google-plus"></i>
                                    </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-header">
                                            <h4 class="card-title"><span><b> 08:30 </b></span></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-header">
                                            <h4 class="card-title"><span><b> 17:30 </b></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card">
                                        <div class="card-body">
                                            <div class="alert alert-success">
                                            <span>7-9h</span>
                                            </div>
                                            <div class="alert alert-success">
                                            <span><b>9-12h </b> nghỉ không lương</span>
                                            </div>
                                            <div class="alert alert-success">
                                            <span>12-12h</span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card">
                                        <div class="card-body">
                                            <div class="alert alert-primary">
                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            </button>
                                            <span><b> 16-17h </b></span>
                                            </div>
                            
                                            <div class="alert alert-success">
                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" >
                                            </button>
                                            <span> 14-16h </span>
                                            </div>
                                            <div class="alert alert-warning">
                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" >
                                                
                                            </button>
                                            <span><b> 13-14h </b> Ra ngoài </span>
                                            </div>
                                            <div class="alert alert-danger">
                                            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" >
                                                <i class="tim-icons icon-simple-remove"></i>
                                            </button>
                                            <span><b> 12-13h </b> Chưa giải trình </span>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-header">
                                            <h4 class="card-title"><span><b> 12:00 </b></span></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-header">
                                            <h4 class="card-title"><span><b> 13:00 </b></span></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-chart">
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="CountryChartDaily"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-user">
                                <div class="card-body">
                                    <p class="card-text">
                                    <div class="author">
                                        <div class="block block-one"></div>
                                        <div class="block block-two"></div>
                                        <div class="block block-three"></div>
                                        <div class="block block-four"></div>
                                        <a href="javascript:void(0)">
                                        <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
                                        <h5 class="title">Mike Andrew</h5>
                                        </a>
                                        <p class="description">
                                        Ceo/Co-Founder
                                        </p>
                                    </div>
                                    </p>
                                    <div class="card-description">
                                    Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="button-container">
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                                        <i class="fab fa-facebook"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                        <i class="fab fa-google-plus"></i>
                                    </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card card-user">
                                <div class="card-body">
                                    <p class="card-text">
                                    <div class="author">
                                        <div class="block block-one"></div>
                                        <div class="block block-two"></div>
                                        <div class="block block-three"></div>
                                        <div class="block block-four"></div>
                                        <a href="javascript:void(0)">
                                        <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
                                        <h5 class="title">Mike Andrew</h5>
                                        </a>
                                        <p class="description">
                                        Ceo/Co-Founder
                                        </p>
                                    </div>
                                    </p>
                                    <div class="card-description">
                                    Do not be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="button-container">
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                                        <i class="fab fa-facebook"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                        <i class="fab fa-twitter"></i>
                                    </button>
                                    <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                        <i class="fab fa-google-plus"></i>
                                    </button>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> Trạng thái mới nhất</h4>
                        <div id="latest-trips-container"></div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Xe
                                    </th>
                                    <th>
                                        Từ
                                    </th>
                                    <th>
                                        Đến
                                    </th>
                                    <th class="text-center">
                                        Cập nhật cuối
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trip in latest_trips %}
                                <tr>
                                    <td>
                                        {{ trip.equipment }}
                                    </td>
                                    <td>
                                        {{ trip.start_location }}
                                    </td>
                                    <td>
                                        {{ trip.dest_location }}
                                    </td>
                                    <td class="text-center">
                                        {{ trip.write_date }}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

<script>
    // Tạo kết nối WebSocket
    const socket = new WebSocket('wss://hinosoft.com/ws/chat/');

    // Khi kết nối WebSocket mở
    socket.onopen = function(e) {
        console.log('WebSocket connection established.');
    };

    // Khi nhận được thông điệp từ server
    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        const latestTrips = data.latest_trips;
        
        // Cập nhật nội dung trên trang
        document.getElementById('latest-trips-container').innerHTML = `
            <p>${message}</p>
            <p>Latest Trips: ${latestTrips}</p>
        `;
    };

    // Khi kết nối WebSocket đóng
    socket.onclose = function(e) {
        console.log('WebSocket connection closed.');
    };

    // Khi có lỗi kết nối WebSocket
    socket.onerror = function(error) {
        console.log('WebSocket error: ', error);
    };
</script>

{% endblock javascripts %}
