{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <form id="loginForm">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header text-center py-4">
                                <h4 class="title">Login to CT ADMIN</h4>
                            </div>
                            <div class="card-body px-5 py-3">
                               
                                   
                                    <div class="row">
                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username"
                                                        value="admin" name="username" id="username">
                                            </div>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="password"
                                                        value="admin" name="password" id="password">
                                            </div>
                                        </div>
                                    </div>

                                
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-fill btn-primary">Login</button>
                                
                                <br /><br />

                                <p>
                                    Don't have an account? <a href="/register.html" class="text-primary">Register</a>                            
                                </p>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
<script>
    document.getElementById("loginForm").addEventListener('submit', async function (event) {
    event.preventDefault();
    
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    // Hàm để lấy CSRF token từ cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Kiểm tra xem cookie bắt đầu với tên mong muốn
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrf_token = getCookie('csrftoken');

    // Gửi thông tin đăng nhập tới server
    const odooResponse = await fetch('https://admin.hinosoft.com/web/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrf_token  // Thêm CSRF token vào header
        },
        body: new URLSearchParams({
            csrf_token: csrf_token,
            login: username,
            password: password,
            redirect: ''
        }).toString()
    });

    if (odooResponse.ok) {
        window.location.href = '/home';
    } else {
        console.error('Đăng nhập thất bại');
        // Xử lý lỗi đăng nhập tại đây
    }
});

</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
