{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <form id="loginForm">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header text-center py-4">
                                <h4 class="title">Login to CT ADMIN</h4>
                            </div>
                            <div class="card-body px-5 py-3">
                               
                                   
                                    <div class="row">
                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username"
                                                        value="admin" name="username">
                                            </div>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" placeholder="password"
                                                        value="admin" name="">
                                            </div>
                                        </div>
                                    </div>

                                
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-fill btn-primary">Login</button>
                                
                                <br /><br />

                                <p>
                                    Don't have an account? <a href="/register.html" class="text-primary">Register</a>                            
                                </p>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
<script>
    document.getElementById("loginForm").addEventListener('submit', async function (event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        // gui thong tin dang nhap toi user
        const odooResponse = await fetch('https://admin.hinosoft.com/web/login',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({username, password})
        });
        if (odooResponse.ok){
            window.location.href='/home';
        }
        
    })
</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
