{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

{% block stylesheets %}
<style>
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

  .day {
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
    /* Thêm hiệu ứng con trỏ cho ô ngày */
  }

  .day>div {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }

  .date {
    grid-column: 1 / span 2;
    /* Chiếm 2 cột */
    border-bottom: none;
    font-weight: bold;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
  <h1>Lịch công tác</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="card ">
        <div class="calendar">
          {% for day in calendar_data %}
          <div class="day" data-date="{{ day.date }}" style="grid-column: {{ day.day_of_week }}; grid-row-start: {{ day.row_start }}"
            onclick="openModal(this)">
            <div class="date">{{ day.date }}</div>
            <div class="order-count">{{ day.order_count }}</div>
            <div class="work-hours">{{ day.work_hours }}</div>
            <div class="salary">{{ day.salary }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img class="avatar" src="{{ ASSETS_ROOT }}/img/emilyz.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              Ceo/Co-Founder
            </p>
          </div>
          </p>
          <div class="card-description">
            Do not be scared of the truth because we need to restart the human foundation in truth And I love you like
            Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
              <i class="fab fa-facebook"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
              <i class="fab fa-twitter"></i>
            </button>
            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
              <i class="fab fa-google-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'home/popup_template.html' %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title">{{ scheduling.employee_code }}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Ngày</th>
                  <th>Tên</th>
                  <th>Mã code</th>
                  <th class="text-center">Ca</th>
                </tr>
              </thead>
              <tbody>
                {% for item in schedulingrecords %}
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.employee_name }}</td>
                  <td>{{ item.employee_code }}</td>
                  <td class="text-center">{{ item.shift_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card  card-plain">
        <div class="card-header">
          <h4 class="card-title">Danh sách đơn</h4>
          <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Từ ngày</th>
                  <th>Tới ngày</th>
                  <th>Loại đơn</th>
                  <th class="text-center">Lý do</th>
                </tr>
              </thead>
              <tbody>
                {% for item in leaverecords %}
                <tr>
                  <td>{{ item.request_date_from }}</td>
                  <td>{{ item.request_date_to }}</td>
                  <td>{{ item.holiday_status_id }}</td>
                  <td class="text-center">{{ item.reasons }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Danh sach giai trinh area -->
    <div class="col-md-8">
      <div class="card  card-plain">
        <div class="card-header">
          <h4 class="card-title">Danh sách giải trình</h4>
          <p class="category">Danh sách giải trình nhân viên từ ngày - đến ngày</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Từ ngày</th>
                  <th>Tới ngày</th>
                  <th>Loại giải trình</th>
                  <th class="text-center">Lý do</th>
                </tr>
              </thead>
              <tbody>
                {% for item in explainationrecords %}
                <tr>
                  <td>{{ item.request_date_from }}</td>
                  <td>{{ item.request_date_to }}</td>
                  <td>{{ item.invalid_type }}</td>
                  <td class="text-center">{{ item.reason }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


{% block javascripts %}
<script>
  function openModal(element) {
    var date = element.getAttribute("data-date");
    fetch(`/api/get_details?date=${date}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById("modalDate").innerText = `Chi tiết ngày: ${date}`;
        document.getElementById("modalOrderCount").innerText = `Số lượng đơn: ${data.order_count}`;
        document.getElementById("modalWorkHours").innerText = `Thời gian đi làm: ${data.work_hours}`;
        document.getElementById("modalSalary").innerText = `Công tính lương: ${data.salary}`;
        document.getElementById("myModal").style.display = "block";
      });
  }
</script>
{% endblock javascripts %}